EVENTHUB_CONNECTION_STR="Endpoint=sb://<your-eventhub-namespace>.servicebus.windows.net/;SharedAccessKeyName=<policy-name>;SharedAccessKey=<key>;EntityPath=<eventhub-name>"
EVENTHUB_NAME="<eventhub-name>"

IOTHUB_CONNECTION_STR_GARAGE="HostName=<your-iothub>.azure-devices.net;DeviceId=<garage-device-id>;SharedAccessKey=<key>"
IOTHUB_CONNECTION_STR_KITCHEN="HostName=<your-iothub>.azure-devices.net;DeviceId=<kitchen-device-id>;SharedAccessKey=<key>"

GOVEE_API_KEY="<your-govee-api-key>"
